.where-buy{
  .apteka__item a img{
    height: auto !important;
  }
}
.s-buy{
  background-image: url('../img/buy-bg-1.jpg');
  background-size: cover;
  background-color: #008CC9;
  margin-top: 130px;
  padding-bottom: 11px;
  border-top: 7px solid #D61F25;

  &_container{
    width: 100%;
    max-width: 1574px;
    margin: 0 auto;
    margin-top: 127px;
    padding: 0 40px;
  }
  &__wrapper-title{
    display: flex;
    margin-top: 13px;
    margin-left: 15px;
  }
  &__box-title{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 70px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  &_title-small{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 490px;
    margin: 0 10px 0 30px;
  }
  &__exclamation{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 148px;
    line-height: 148px;
    color: #D61F25;
  }
  &__exclamation2{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: #D61F25 !important;
  }
  &__subtitle{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 12px;
    margin-left: 15px;

  }

  &__items{
    display: flex;
  }

  &__item{
    width: 49.99999%;
    padding: 18px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__item-box-title{
    display: flex;
    background-color: #D61F25;
    border-radius: 30px;
    width: 461px;
    height: 55px;
    align-items: center;
    margin: 20px auto 12px auto;
  }
  &_item-number-1{
    margin: 0 64px 0 64px;
  }
  &_item-number-2{
    margin: 0 44px 0 64px;
  }
  &__item-title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__item-subtitle{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 19.9514px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  &__item-box-img{
    margin-top: 5px;
  }
  &__carousel{
    background-image: url('../img/buy-bg2.png');
    background-size: cover;
  }
}

  .s-apteka-slider-title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.04em;
    color: #D61F25;
    background-color: #DFF5FF;
    width: 100%;
    max-width: 1574px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 15px 40px 0 40px;

  }

.s-apteka-slider{
  background-color: #DFF5FF;
   
  &_container{
    width: 100%;
  max-width: 1574px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 0 40px; 
  }
  .owl-stage{
    margin: 0 auto;
  }

  .photo-slider img{
    padding: 3px;
  }
  .slider__owl-prev, .slider__owl-next {
    background-color: #DFF5FF;
    border: none;
    outline: none !important;
    padding: 0;
  }
  .slider__owl-prev{
    margin-right: 28px;
  }
  .slider__owl-prev img{
    width: 16px;
    height: 30px;
  }
  .slider__owl-next{
    margin-left: 28px;
    }
  .owl-dots{
    display: none;
  }
  .slider__owl-next img{
    width: 16px;
    height: 30px;
  }
  .slider__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  .slider__imgBox{
    padding: 5px;
  }
  .slider__link-brand img{
    box-shadow: 0px 1px 4px rgba(0,140,201,0.7);
    border-radius: 5px;
  }
    .slider__link-brand img:hover{
    box-shadow: 0 1px 6px rgba(0,140,201,1);
  }
}
.s-stock{
  background-color: #008CC9;
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #52CAF5;
  padding: 22px 26px 22px 26px;
  border-bottom: 7px solid #D61F25;
  &_container{
    width: 100%;
    max-width: 1574px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 20px 40px;
  }

  &__title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }
  &__contraindications-img{
    margin: 5px 0 5px 0;
  }
  &__contraindications-img-mobile{
    margin: 5px 0 5px 0;
    display: none;
  }
}
.s-apteka__title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #1B4675;
  padding-top: 50px;
}

  .slider__boxPrev-hidden{
    display: none;
  }
  .slider__boxPrev-hidden{
    display: none;
  }

@media only screen and (max-width : 1300px){
  .s-buy{

    &__title {
      font-size: 75px;
    }
    &_title-small{
      font-size: 33px;
      line-height: 25px;
    }
    &__item-box-title{
      width: 410px;
    }
    &_item-number-1 {
      margin: 0 50px 0 65px;
    }
    &_item-number-2 {
      margin: 0 44px 0 50px;
    }

    &__exclamation {
      font-size: 110px;
      line-height: inherit;
    }
  }

}

@media only screen and (max-width : 1200px){
  .s-buy{

    &__title {
      font-size: 60px;
      line-height: 60px;
    }
    &_title-small {
      font-family: Gilroy;
      margin: 0 10px 0 30px;
    }
    &__exclamation{
      font-size: 75px;
    }

  }
  .s-apteka-slider-title {
    font-size: 33px;
  }
}

@media only screen and (max-width : 992px){

  .s-buy{

    &__box-title{
      display: block;
      max-width: 100%;
      margin: 15px 0 0 0;
    }
    &__title{
      font-size: 55px;
      line-height: 47px;
    }
    &_title-small{
      font-size: 44px;
      max-width: 480px;
      margin: 4px 0 0 0;
      line-height: 0.8;
    }
    &__exclamation{
      font-size: 234px;
      line-height: 234px;
      margin-left: 20px;
    }
    &__exclamation2{
      font-size: 65px;
    }
    &__subtitle{
      font-size: 36px;
      margin-top: 3px;
    }

    &__item-box-title {
      width: 310px;
    }
    &__item-title{
      font-size: 40px;
    }
    &_item-number-1 {
      margin: 0 45px 0 55px;
    }
    &_item-number-2 {
      margin: 0 25px 0 30px;
    }


  }
  .s-apteka-slider-title {
    font-size: 24px;
    line-height: 29px;
    padding: 19px 40px 8px 40px;
  }
  .s-apteka-slider_container {
    padding: 0 14px;
  }
  .s-apteka__title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    max-width: 625px;
  }


}
@media only screen and (max-width : 768px) {

  .s-buy{
    &__box-title{
      display: block;
      max-width: 100%;
    }
    &__title{
      font-size: 50px;
      line-height: 45px;
    }
    &_title-small{
      font-size: 44px;
      max-width: 480px;
      line-height: 0.8;
    }

    &__exclamation{
      font-size: 234px;

    }
    &__item-subtitle{
      margin: 0 30px 0 30px;
      font-size: 13px;
      line-height: 15px;
    }
    &__item-title {
      font-size: 30px;
      line-height: 41px;
    }
    &__item-box-title{
      height: 40px;
      margin: 20px auto 2px auto;
    }
    &_item-number-1 {
      margin: 0 48px 0 45px;
      width: 28px;
      height: auto;
    }
    &_item-number-2 {
    margin: 0 28px 0 45px;
      width: 28px;
      height: auto;
    }
    &__item-box-title {
      width: 305px;
    }
  }
  .s-stock_container {
    padding: 15px 20px;
  }
  .s-apteka__title {
    padding-top: 28px !important;
  }
  .slider__boxPrev-tablet-hidden{
    display: none;
  }
  .slider__boxPrev-tablet-hidden{
    display: none;
  }




}
@media only screen and (max-width : 760px) {
  .s-buy{
    &__wrapper-title{
      justify-content: center;
    }
    &__subtitle{
      text-align: center;
    }
  }
}


@media only screen and (max-width : 700px){
  .s-buy{
    &__items{
      display: block;
    }
    &__item{
      width: 100%;
    }
    &__title {
      font-size: 47px;
      line-height: 40px;
    }
    &__exclamation {
      font-size: 181px;
      line-height: 173px;
    }
    &__exclamation2 {
      font-size: 45px;
    }
    &__wrapper-title {
      justify-content: center;
    }
    &__subtitle {
      text-align: center;
    }

  }
  .s-apteka-slider-title {
    font-size: 20px;
    line-height: 20px;
  }
}

@media only screen and (max-width : 620px){
.s-buy{
  &_container{
    padding: 0 20px;
  }
  &__title {
    font-size: 37px;
    line-height: 35px;
  }
  &__exclamation {
    margin-left: 0;
    font-size: 181px;
    line-height: 140px;
  }
  &_title-small {
    font-size: 35px;
    max-width: 395px;
  }
  &__subtitle{
    font-size: 28px;
  }
  &__box-title{
    margin: 0 0 0 0;
  }
}
.s-apteka-slider-title{
  padding: 15px 25px 0 25px;
}
.s-apteka-slider{
  &_container{
    padding: 0 20px;
  }
}


}

@media only screen and (max-width : 460px){
  .s-buy{
    &__title{
      font-size: 30px;
      line-height: 25px;
    }
    &_title-small {
      font-size: 20px;
      max-width: 225px;
      line-height: 1;
    }
    &__exclamation {
      margin-left: 0;
      font-size: 110px;
      line-height: 100px;
    }
    &__exclamation2 {
      font-size: 33px;
    }
    &__subtitle {
      font-size: 24px;
      max-width: 320px;
      text-align: center;
      margin: 0 auto;
      text-align: center;
      line-height: 24px;
      margin-top: 8px;
    }
    &__item{
      padding: 18px 15px 0px 15px;
    }
    &__item-box-title{
      margin: 0 auto 2px auto;
      width: 250px;
    }
    &__item-subtitle {
      margin: 0 auto 0 auto;
      max-width: 200px;
      margin-top: 5px;
    }
    &_item-number-1 {
      margin: 0 47px 0 10px;
    }
    &_item-number-2 {
      margin: 0 30px 0 19px;
    }
  
  }
  .s-apteka-slider_container {
    padding: 0 14px;
  }
  .s-apteka-slider{
    .slider__owl-prev {
      margin-right: 10px;
    }
    .slider__owl-next {
    margin-left:  10px;
    }
  }
  .s-apteka-slider-title {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
  .s-stock{
    font-size: 14px;
    line-height: 14px;
    &__title{
      font-size: 20px;
      line-height: 23px;
    }
    &__contraindications-img{
      display: none;
    }
    &__contraindications-img-mobile{
      display: block;
    }
  }
  .s-apteka__title {
    font-size: 22px;
    line-height: 26px;
    max-width: 530px;
    padding-top: 18px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media only screen and (max-width : 380px){
  .s-buy{
    &__title{
      font-size: 25px;
      line-height: 25px;
    }
  }
}