html {
	background-color: #fff !important;
}
.flexslider {
    margin: 100px 0 60px;
    background-image: linear-gradient(90deg, #d4d4ff, #92d4ff);
    border: 0px solid #fff;
}

.flexslider .slides img {
    margin: 0 auto;
    width: auto;
}


.flex-direction-nav a:before  { 
    content: " ";
    display: block;
    background: url('/bitrix/templates/faringosept/js/flexslider/images/arrow-left.svg') no-repeat;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.flex-direction-nav a.flex-next:before  { 
    content: " ";
    display: block;
    background: url('/bitrix/templates/faringosept/js/flexslider/images/arrow-right.svg') no-repeat;
    width: 40px;
    height: 40px;
    background-size: cover;
}

@media (max-width:768px) {
  .flexslider {
    	margin: 70px 0 60px;
	}
}