html {
  background-color: #ffffff;
}  
  
.b-section__header {
    width: 1024px;
    margin: 0 auto 50px;
}

.apteka__list {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.apteka__item {
    width: 25%;
    margin-bottom: 50px;
}

.apteka__item a {
    line-height: 97.75px;
}

.b-section__container.b-container.where-buy {
  background: url(/bitrix/templates/faringosept/img/faringosept-words-bg.png) no-repeat bottom center;
  background-size: contain;
}

@media screen and (max-width: 1200px){
.apteka__list {
    width: 100%;
}
@media screen and (max-width: 767px){
    .b-section__container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .apteka__item {
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    .apteka__item img {
        width: 150px;
    }
}